<button type="button" name="button" data-user-id="<%= user.id %>"
    data-follow-state="<%= current_user.follows?(user) ? 'followed' : 'unfollowed' %>"
    id ="follow-btn" class="follow-toggle followed">
</button>
